@import '../../mixins';
@import '../../layer';
// ######### MISE EN PAGE GENERALE VIA MIXINS ###########
body {
    @include body;
}
main {
    @include main;
}
// ###### MISE EN PAGE DU TEXTE #############
.dash_user {
    text-align: center;
    font-size: 1.7em;
}
// ######## GESTION DES COULEURS VIA LES VARIABLES #############
.h1_dashUser {
    background-color: $header_bg;
}
