@import '../../sass/abstracts/mixins';
// ######### MISE EN PAGE GENERALE VIA MIXINS ###########
body {
    @include body;
}
main {
    @include main;
}
// ############### MISE EN PAGE DU FORMULAIRE DE CREATION DE FICTION ##################
.login_form_create {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4em;
    gap: 20px
}
.create_left {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.login_form_create input {
    height: 30px;
    border-radius: 10px;
    font-size: 1.0em;
    padding-left: 5px;
    width: 100%;
}
.login_form_create textarea {
    height: 500px;
    width: 95%;
    border-radius: 10px;
    resize: horizontal;
}
.login_form_create label {
    margin-bottom: 10px; 
  }
.login_create {
    text-align: center;
    margin-top: 25px;
}
.input {
    font-size: 1.0em;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 2px 2px 10px;
}