// ############ GESTION DES COULEURS ###############
$background_color: #E8F6D1;
$background_orange: #FFA600;
$color_black: #000000;
// ############ GESTION DES RADIUS #################
$border-radius-10: 10px;
$border-radius-40: 40px;
// ########### GESTION DES MAX WIDTH ##############
$max-width: 100px;