@import '../sass/abstracts/_variables.scss';
@import '../sass/abstracts/_typographie.scss';
@import '../sass/base/_reset.scss';

/* ######## PRESENTATION DU SITE ############ */
.main_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.main_section img {
    object-fit: cover; 
    width: 100%;
    height: 200px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 20px;
}
.main_section img:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* ############ BLOC TOI AUSSI PUBLIE ########## */
.bloc_news {
    width: 100%;
    max-width: 300px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
    height: 320px;
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
    margin-top: 20px; /* Ajouter une marge pour l'espace entre les blocs */
    
}
.bloc_news img{
    max-width: 250px;
}
.bloc_news h2{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
}
.bloc_news p{
    padding-left: 10px;
    padding-right: 10px;
}
.bloc_main {
    width: 65%;
    border-bottom: 2px solid $background_color;
    border-right: 2px solid $background_color;
    border-radius: 20px;
    order: 0;
}
.bloc_main p {
    text-align: center;
    margin: 10px;
    font-size: 1.2em;
}
.link_homePage {
    text-decoration: none;
    color: $color_black;
}
.content_mentions {
    list-style-type: none;
}
/* ################## MEDIA QUERIES POUR LE RESPONSIVE ######################### */
/* ##### TABLETTES #### */
@media (max-width: 768px) {
    .main_section {
        flex-direction: column;
    }  
  }
/* ##### SMARTPHONES #### */
@media (max-width: 425px) {
    .bloc_main {
        width: 65%;
        max-height: 300px;
        overflow-y: auto;
        border-bottom: 2px solid $background_color;
        border-right: 2px solid $background_color;
        border-radius: 20px;
        order: 0;
    }
}