@font-face {
    font-family: "Hylia";
    src: url(/assets/fonts/HyliaSerifBeta-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
}
/* .sub_header {
    margin: auto;
    text-align: center;
    margin-top: 80px;
    
    border-radius: 40px;
    width: 20%;
    padding: 10px;
} */
/* ######## PRESENTATION DU SITE ############ */
.main_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.main_section img {
    object-fit: cover; 
    width: 100%;
    height: 200px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 20px;
}
.main_section img:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* ############ BLOC TOI AUSSI PUBLIE ########## */
.bloc_news {
    width: 16vw;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
    height: 320px;
}
.bloc_news h2{
    padding-left: 0px;
    padding-right: 0px;
}
.bloc_news p{
    padding-left: 10px;
    padding-right: 10px;
}
.bloc_main {
    width: 65%;
    border-bottom: 2px solid antiquewhite;
    border-right: 2px solid antiquewhite;
    border-radius: 20px;
}
.bloc_main p {
    text-align: center;
    margin: 10px;
    font-size: 1.2em;
}
.link_homePage {
    text-decoration: none;
    color: black;
}



.content_mentions {
    list-style-type: none;
}